/**
 * @file
 * Styles for Newsplus Lite's layout.
 */

#header-top {
  border-bottom: 1px solid #ffffff;
}
.region-header-top-left,
.region-header-top-right {
  padding-top: 45px;
  padding-bottom: 5px;
}

@media (max-width: 767px) {
  .region-header-top-left,
  .region-header-top-right {
    padding-top: 5px;
  }
}
#header {
  border-bottom: 9px solid;
  z-index: 499;
  position: relative;
}
#header-inside-right {
  padding-top: 13px;
}
@media (max-width: 767px) {
  #header-inside-right {
    margin-right: 40px;
  }
}
#page-intro > .container {
  background-color: #fff;
  z-index: 440;
}
#page-intro-inside {
  position: relative;
  margin: 0 -15px;
}
#page > .container {
  border-bottom: 6px solid #e5e5e5;
  z-index: 440;
}
#page > .container {
  background-color: #fff;
}
#page-inside {
  padding-bottom: 30px;
}
#top-content {
  padding: 20px 0 0 0;
}
#top-content #slideshow {
  margin-right: -15px;
  margin-left: -15px;
}
#top-content + #main-content {
  padding-top: 10px;
}
.front #banner #slideshow {
  margin-top: 10px;
}
#main-content {
  padding-top: 45px;
}
#main-content > .row {
  overflow: hidden;
}
#highlighted {
  background-color: #f8f8f8;
  border-bottom: 6px solid #e4e4e4;
  padding-bottom: 0;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
#footer {
  border-bottom: 6px solid #dadada;
  padding-top: 50px;
  padding-bottom: 25px;
}
#subfooter {
  padding-top: 15px;
  padding-bottom: 10px;
  background: #fff
}
@media (min-width: 992px) {
  .no-sidebars #highlighted {
    margin-left: -28.6%;
    margin-right: -28.6%;
    padding-left: 28.6%;
    padding-right: 28.6%;
  }
  .layout-sidebar-second #highlighted,
  .layout-sidebar-second #banner {
    margin-left: -15px;
  }
  .layout-sidebar-first #highlighted,
  .layout-sidebar-first  #banner {
    margin-right: -15px;
  }
  .not-front.layout-sidebar-second #highlighted {
    margin-left: -17.8%;
    padding-left: 17.8%;
  }
  .not-front.layout-sidebar-first #highlighted {
    margin-right: -17.8%;
    padding-right: 17.8%;
  }
  .not-front.layout-sidebar-second #banner {
    margin-left: -17.8%;
  }
  .not-front.layout-sidebar-first #banner {
    margin-right: -17.8%;
  }
}
@media (max-width: 991px) {
  #highlighted,
  #banner {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (max-width: 767px) {
  #header-top {
    padding-top: 10px;
  }

  /* Header Mobile Layout */
  #header-inside {
    position: relative;
  }
  #header-inside.mean-container {
    padding-right: 40px;
  }
  #header-inside.mean-container #header-top-left,
  #header-top-inside.mean-container #header-top-right {
    z-index: 13;
    position: relative;
  }
  #header-inside.mean-container .mean-bar {
    position: absolute;
    top: 5px;
  }
  #header-inside.mean-container .dropdown.search-bar .dropdown-menu {
    margin-right: -40px;
  }

  /* Fixed header position */
  #header {
    top: auto;
  }
  #page,
  #page-intro {
    margin-top: 0!important;
  }
}

/* Regions */
.colored-area {
  color: #fff;
}
.colored-area a {
  color: #fff;
  text-decoration: underline;
}
.colored-area a:hover,
.colored-area a:active,
.colored-area a:focus {
  color: #fff;
  text-decoration: none;
}
.footer-area {
  font-size: 14px;
  line-height: 1.57;
  color: #464646;
}
.subfooter-area {
  font-size: 13px;
}
.subfooter-area p {
  padding-bottom: 5px;
}
@media (max-width: 991px) {
  .subfooter-area { text-align: center; }
}

/*Custom FMED */
header {
  background: #000
}
#header-top {
 background: #ded1c9 !important;
 background: #e8e8e8 !important;
 background: #f8f8f8 !important;
}
#header-top-right {
  display: flex;
  align-items: right;
  justify-content: flex-end;
}
.header-area .col-md-12 {
  padding: 0;
  margin: 0;
}

.node-content table thead {
  background: #000;
  color:#fff;
}
.node-content  table * {
  border-color:#000;
}

#main-navigation ul.menu li {
  text-align: center;
  text-transform: uppercase;

}
#main-navigation ul.menu li a {
  font-size: 15px;
  /* line-height: 23px; */
  padding: 8px 18px 8x !important;
  color: #ffffff;
  border: 1px #fff dotted;
  margin: 4px;

}
#main-navigation ul.menu li ul {
  padding:10px;
}
#main-navigation ul.menu li a i {
  margin-right:6px
}


#main-navigation ul.menu li li a {
  color: #fff;
  border: 1px #fff dotted;
  padding:6px;
  display: block;
}
#main-navigation ul.menu li li a:hover {
  background: #333;
}
@media (min-width:992px) {
  #main-navigation ul.menu li ul{
    margin-top:-6px;
    padding: 18px;
    text-align:left;
    padding-top:16px;
    -webkit-box-shadow: 2px 9px 31px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 9px 31px -8px rgba(0,0,0,0.75);
    box-shadow: 2px 9px 31px -8px rgba(0,0,0,0.75);
  }
  #main-navigation ul.menu li li a {
    width: 370px;
  }
  #main-navigation ul.menu {
    display: flex;
  }
  #main-navigation ul.menu li {
    flex-grow: 1;
  }
}

.logo-and-site-name-wrapper.clearfix {
  max-width: 469px
}

#block-formulariodebusqueda {
  width: 300px;
  color:#333
}
#block-formulariodebusqueda h2 {
  font-size:14px;
  margin-bottom:0;
  color:#333
}

#sidebar-second {
  padding-top:30px !important;
  padding-left:25px;
  border-left:1px dotted;
}


.view-slider-portada {
  background: #999;
}
.view-slider-portada img {

  width: 100%
}
.sliderPortada {
  height: 450px;
  overflow: hidden;
  display: block;
  background: #ccc
}
.sliderPortada:hover {
  text-decoration:  none !important
}

.sliderText {
  background:rgba(0,0,0,0.5);
  /* height: 100%; */
  display: flex;
  height: 462px;
  top: 0;
  max-width: 67%;
  flex-direction: column;
  align-content: center;
  z-index: 100;
  position: absolute;
  opacity:0.8;
}

.sliderText:hover {
  text-decoration: none !important
}
.sliderText h2 {
  padding:30px;
  padding-top:50px;
  color:#fff;
  font-size: 40px;
  padding-bottom: 10px;

}
.sliderText p {
  padding:30px;
  padding-top:0;
  color:#fff;
  font-size:20px;
}
.view-slider-portada .pager {
  position: absolute;
}

.view-slider-portada .pager {
  position: absolute;
  padding: 0;
  top: 300px;
  right: 0;
}
.node__meta {
  display: none;
}


.view-menu-carreras  a, #block-views-block-menu-catedra-block-1 .content a, #block-views-block-menu-interna-block-1 .content a {
  padding:6px;
  border:1px dotted #ccc;
  width: 100%;
  display: block;
  border-right:15px double #ccc;
  transition:0.5s all;
  padding-left:10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  -webkit-box-shadow: -8px 10px 5px -8px rgba(0,0,0,0.2);
  -moz-box-shadow: -8px 10px 5px -8px rgba(0,0,0,0.2);
  box-shadow: -8px 10px 5px -8px rgba(0,0,0,0.2);
}
.view-menu-carreras a:hover, #block-views-block-menu-catedra-block-1 .content a:hover, #block-views-block-menu-interna-block-1 .content a:hover {
  text-decoration: none;
  background:#000;
}


/** Widgets **/
.paragraph--type--lanzadores- {
  margin-top:20px;
  margin-bottom: 20px;

}
.paragraph--type--lanzadores- div {
   display: block

}
.paragraph--type--lanzadores- div a {
  padding: 10px;
  border: none;
  text-transform: uppercase;
  margin-bottom: 13px;
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
  background:#efefef;
  border:1px dotted;
  -webkit-box-shadow: -1px 0px 5px 0px rgba(221,221,221,1);
  -moz-box-shadow: -1px 0px 5px 0px rgba(221,221,221,1);
  box-shadow: -1px 0px 5px 0px rgba(221,221,221,1);
  transition:0.4s all
}



.paragraph--type--lanzadores- div a:hover {
  text-decoration: none;
  background:#ddd
}


.paragraph.paragraph--type--adjuntos {
  padding:10px;
  border:1px solid #ccc;
  margin-bottom:20px
}

.paragraph--type--galeria-imagenes {
  margin-bottom:30px;
}


.field--name-field-galeria-imagenes {
  display: flex;
  flex-wrap: wrap;
  background: #eee;
  padding:15px
}

.field--name-field-galeria-imagenes .field__item {
  margin:5px !important;
}
.field--name-field-galeria-imagenes .field__item img {
  width: 170px;
}



